$primary: #00cc98;

.mb-xl {
  margin-bottom: 60px;
}
.text-facebook {
  color: #576da9;
}
.text-twitter {
  color: #00abec;
}
.text-highlight {
  color: $primary;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
.social-link {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  background: #f6f6f6;
  li {
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin: 8px 0;
    &:first-child {
      border-right: 1px solid #ccc;
    }
  }
  a {
    margin-left: 4px;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  h1 {
    background-image: url(../images/logo.png);
    width: 192px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    a {
      height: 100%;
    }
  }
  >ul {
    display: flex;
  }
}
.menu {
  a {
    color: $primary;
    padding: 16px 10px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid $primary;
    }
  }
}
.dropdown{
  position: relative;
  &-list {
    display: none;
    width: 100%;
    position: absolute;
    top: 51px;
    text-align: center;
    z-index: 4;
    background: #fff;
  }  
}
.swiper {
  height: 346px;
  &-slide {
    height: 346px;
    display: flex;
    align-items: center;
    h2 {
      width: 100%;
      color: #fff;
      font-size: 36px;
      line-height: 1.5;
      padding: 36px 20px;
      background: rgba(0, 0, 0, 0.15);
    }
  }
  &-slide:first-child {
    background-image: url(../images/banner.png);
  }
  &-slide:nth-child(2) {
    background-image: url(../images/banner02.png);
  }
  &-slide:last-child {
    background-image: url(../images/banner03.png);
  }
}
.card-list {
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    padding: 20px;
    box-shadow: 0 2px 2px 2px #f5f4f4;
    border-radius: 4px;
  }
  img {
    height: 140px;
    width: 232px;
    object-fit: none;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    width: 100%;
    text-align: justify;
    font-size: 16px;
  }
}
.difference {
  h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 28px;
  }
  table {
    width: 85%;
    margin: 0 auto;
  }
  thead {
    background: #f7f7f7;
    font-weight: bold;
    tr {
      border-top: 1px solid #ddd;
    }
  }
  tr {
    border-bottom: 1px solid #ddd;
    &:hover {
      background: #fcfcfc;
    }
  }
  th,td {
    padding: 10px 20px;
  }
}
.contact {
  background: linear-gradient(#00654a, #009972);
  padding: 32px 0 28px;
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 32px;
  }
  form {
    display: flex;
    justify-content: center;
  }
  textarea {
    width: 46%;
    margin-right: 40px;
    border-radius: 4px;
    padding: 10px 8px;
    resize: none;
  }
}
.contact-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 1.5;
  width: 46%;
  input {
    padding: 10px 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
  }
  button {
    width: 70px;
    padding: 8px 18px;
    border-radius: 4px;
    border: none;
    background: $primary;
    color: #fff;
    align-self: end;
    &:hover {
      cursor: pointer;
      background: #00654a;
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  line-height: 1.5;
  a {
    display: inline;
    color: #e12d80;
  }
}
.top {
  display: none;
  font-size: 36px;
  position: fixed;
  bottom: 4%;
  right: 4%;
}

.lb-data.lb-details {
  width: 100%;
}